.about .name {
  color: var(--color-panel);
  background: -webkit-linear-gradient(
    0deg,
    var(--color-panel),
    var(--color-jump),
    var(--color-entity),
    var(--color-instruction)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .special {
  color: var(--color-special);
}

a[href] {
  color: var(--color-entity);
  text-decoration: none;
}

.about ul li::marker {
  content: "0x ";
  color: var(--color-focus);
}
