.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.3;
}

.header,
.message {
  color: var(--color-instruction);
}

.error {
  color: var(--color-dots);
}

.header {
  font-size: 2rem;
  margin-top: 8rem;
}

.message {
  font-size: 1.5rem;
}

.tools {
  color: var(--color-panel);
  border: 1px solid var(--color-panel);
  padding: 0.3125rem 0.5rem;
  margin: 3rem 0;
  width: max-content;
}

.code {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 1rem;
}

.arrows {
  grid-row: 1/-1;
}

.offsets {
  display: grid;
  grid-row: 1/-1;
  grid-template-rows: subgrid;
  color: var(--color-comment);
}

.encoded {
  display: grid;
  grid-row: 1/-1;
  grid-template-rows: subgrid;
  color: var(--color-hex);
  text-align: right;
}

.decoded {
  display: grid;
  grid-column: span 2;
  grid-row: 1/-1;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  gap: 0 1rem;
}

.decoded > .mnemonic {
  color: var(--color-instruction);
}

.decoded > .error {
  color: var(--color-dots);
}

.decoded span.entity {
  color: var(--color-entity);
}

.decoded span.const {
  color: var(--color-constant);
}

.decoded span.jump {
  color: var(--color-special);
}

.spanning span:not(.selected),
.mnemonic.spanning {
  color: var(--color-comment);
}

.tools {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.tool {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.tool > input {
  background-color: transparent;
  border: 1px solid var(--color-panel);
  color: inherit;
  outline: none;
  font: inherit;
  width: 2em;
}

.switch {
  border: 1px solid var(--color-panel);
}

.switch > * {
  display: inline-block;
  margin: 1px;
  padding: 0 2px;
  cursor: pointer;
}

.switch > .selected {
  background-color: var(--color-panel);
  color: var(--color-bg);
}
