.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools {
  color: var(--color-panel);
  border: 1px solid var(--color-panel);
  padding: 0.3125rem 0.5rem;
  margin: 3rem 0;
  width: max-content;
}

.code {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.offsets {
  color: var(--color-comment);
}

.encoded {
  color: var(--color-hex);
}

.decoded {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0 1rem;
}