name: Run tests
on:
  push:
    branches:
      - "**"

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run tests
        working-directory: ./app
        run: |
          npm i
          CI=true npm test
